*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #eee;
}

body{
}

header{
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    padding: 25px 40px;
    background-color: #3A56B7;
    overflow: hidden;
}


header h1{
    float: left;
    font: normal 24px/1.5 'Open Sans', sans-serif;
    color: #fff;
}

header a{
    color:#fff;
    float: right;
    text-decoration: none;
    display: inline-block;
    padding: 13px 50px;
    border-radius: 3px;
    font: bold 14px/1 'Open Sans', sans-serif;
    text-transform: uppercase;
    background-color:#F05283;

}

#video-placeholder{
/*    max-width: 35%;
    width: 100%;
    position: fixed;
    top: 130px;
    right: 40px;
    */
}

#controls{
    margin-right: 40%;
}

#controls ul{
    list-style: none;
}

#controls pre{
    border: 6px solid #E7E9F3;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

#controls ul li {
    margin: 40px;
}

#controls ul li code{
    padding: 24px;
    line-height: 1.45;
    font-size: 13px;
}


h2{
    display: block;
    margin-bottom: 24px;
    font-size: 26px;
    color: #43495F;
}

h2 ~ * {
    margin-bottom: 24px;
}

h2 + pre {
    margin-top: 36px;
}

.thumbnail{
    cursor: pointer;
    margin: 0 10px 20px 0;
    border: 6px solid #fff;
    box-shadow: 0 1px 1px #ccc;
    width: 200px;
}

#progress-bar{
    position: relative;
    width: 100%;
    height: 20px;
    cursor: pointer;
}


#controls i {
    color: #000;
    font-size: 32px;
    cursor: pointer;
}

#volume-input{
    height: 32px;
    width: 45px;
}

#next,
#prev{
    display: block;
}

#newtimestampentry {
    bottom: 0px;
    color: rgb(51, 51, 51);
    cursor: pointer;
    left: 0px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(51, 51, 51);
    top: 0px;
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    background: rgb(224, 224, 224) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    border-radius: 3px 3px 3px 3px;
    font: normal normal normal normal 14px / 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    padding: 5px 9px 5px 19px;
    width: 100px;
    display: inline-block;
}
    /*#newtimestampentry*/

    #newtimestampentry:after {
        color: rgb(51, 51, 51);
        /*//content: "+";*/
        cursor: pointer;
        text-decoration: none solid rgb(51, 51, 51);
        column-rule-color: rgb(51, 51, 51);
        caret-color: rgb(51, 51, 51);
        border: 0px none rgb(51, 51, 51);
        font: normal normal normal normal 14px / 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
        outline: rgb(51, 51, 51) none 0px;
    }
    /*#newtimestampentry:after*/

    #newtimestampentry:before {
        bottom: -1px;
        color: rgb(51, 51, 51);
        /*content: "New Entry";*/
        cursor: pointer;
        display: block;
        height: 16px;
        left: 9px;
        position: absolute;
        right: 901.641px;
        text-decoration: none solid rgb(51, 51, 51);
        top: 5px;
        /*width: 9.35938px;*/
        column-rule-color: rgb(51, 51, 51);
        perspective-origin: 4.67188px 8px;
        transform-origin: 4.67188px 8px;
        caret-color: rgb(51, 51, 51);
        border: 0px none rgb(51, 51, 51);
        font: normal normal normal normal 17px / 16px monospace;
        outline: rgb(51, 51, 51) none 0px;
    }
/*#newtimestampentry:before*/


.roundgreybutton {
    bottom: 0px;
    color: rgb(51, 51, 51);
    cursor: pointer;
    left: 0px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(51, 51, 51);
    top: 0px;
    column-rule-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    background: rgb(224, 224, 224) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    border-radius: 3px 3px 3px 3px;
    font: normal normal normal normal 14px / 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
    padding: 5px 9px 5px 19px;
    width: 100px;
    display: inline-block;
}
    /*.roundgreybutton*/

    .roundgreybutton:after {
        color: rgb(51, 51, 51);
        /*//content: "+";*/
        cursor: pointer;
        text-decoration: none solid rgb(51, 51, 51);
        column-rule-color: rgb(51, 51, 51);
        caret-color: rgb(51, 51, 51);
        border: 0px none rgb(51, 51, 51);
        font: normal normal normal normal 14px / 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
        outline: rgb(51, 51, 51) none 0px;
    }
    /*.roundgreybutton:after*/

    .roundgreybutton:before {
        bottom: -1px;
        color: rgb(51, 51, 51);
        /*content: "New Entry";*/
        cursor: pointer;
        display: block;
        height: 16px;
        left: 9px;
        position: absolute;
        right: 901.641px;
        text-decoration: none solid rgb(51, 51, 51);
        top: 5px;
        /*width: 9.35938px;*/
        column-rule-color: rgb(51, 51, 51);
        perspective-origin: 4.67188px 8px;
        transform-origin: 4.67188px 8px;
        caret-color: rgb(51, 51, 51);
        border: 0px none rgb(51, 51, 51);
        font: normal normal normal normal 17px / 16px monospace;
        outline: rgb(51, 51, 51) none 0px;
    }
/*.roundgreybutton:before*/

#show-notes, #show-notes_main, #video-title_main, #video-title, #current-time_main, #current-time {
    min-width: 250px;
    display: inline-block;
    background-color: #dbdbdb;
}




@media (max-width: 1000px) {


    header h1{
        float: none;
    }

    header a{
        margin-top: 25px;
        float: none;
    }

}

@media (max-width: 1200px) {

    #video-placeholder{
        max-width: 100%;
        position: static;
    }

    #controls{
        margin-right: 0;
    }

    #bsaHolder{ display:none;}
}